.game{
  display: flex;
  flex-flow: row nowrap;
  margin: 10px auto;
  padding: 10px;
  width: 360px;
  border: 1px solid #000;
}

.game-board {
  border: 1px solid #000;
  padding: 5px;
}

.game-content {
  margin: 10px auto;
}

.game-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #000;
  font-size: 1.3em;
  line-height: 34px;
  text-align: center;
  margin-top: -1px;
  margin-left: -1px;
}

.info-header {
  width: 150px;
  text-align: center;
}
